body
{
  background-image: url(../images/repeat1.png);
  background-repeat: repeat;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10pt;
}

.subcontent {
	clear: both;
	}
	
.subNav {
	float: left;
	padding-left: 40px;
	}

#divContainer {
	width: 900px;
	min-height: 240px;
	border: 1px solid #000000;
	background-color: #ffffff;
	border-radius: 25px;
	margin: 12px auto 0 auto;
}

#divHeader {
	width: 900px;
	min-height: 80px;
	clear: both;
	border: 0px solid black;
	background-color: #ffffff;
	text-align: center;
	margin-top: 25px;
}

#divBody {
	width: 900px;
	min-height: 210px;
	border: 0px solid blue;
	background-color: #ffff;
}

#divLeftNav {
	width: 200px;
	min-height: 210px;
	float: left;
	border-right: 2px solid #000;
	background-color: #fff;
}

#divContent {
	width: 698px;
	min-height: 240px;
	float: left;
	border: 0px solid red;
	background-color: #fff;
}

.contentsub {
	width: 698px;
	min-height: 238px;
	float: left;
	border: 0px solid blue;
	background-color: #fff;
	margin: 12px auto;
}

.contentsubtop {
	margin-top: 12px;
}

.contentsubnav {
	width: 33%;
	min-height: 25px;
	float: left;
	text-align: center;
	border: 0px solid red;
}

.contentsubtabs {
	width: 194px;
	min-height: 40px;
	border: 0px solid blue;
	background-color: #fff;
	margin-left: 42px;
	margin-right: 18px;
}

.contenttab {
	width: 60px;
	height: 30px;
	float: left;
	font-size: 14pt;
	text-align: center;
	border: 0px solid red;
}

#divFooter {
	width: 900px;
	min-height: 60px;
	clear: both;
	border: 0px solid red;
	background-color: #ffffff;
	text-align: center;
	vertical-align: bottom;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}


ul {
	margin-right: 12px;
}

li {
	display: inline;
	float: right;
	text-align: right;
	margin: 4px;
}

li a {
	display: inline-block;
	width: 180px;
	font-size: 12pt;
	color: #bbbbbb;
}

/* Anchors */
a
{
  text-decoration: none;
  color: #000000;
}

.show {
	display: block;
}

.hidden {
	display: none;
}

.targblank {
	target: '_blank';
}

#divFavs {
	border: 0px solid red;
	width: 400px;
	min-height: 100px;
	clear: both;
}

#divListLeft {
	border: 0px solid purple;
	width: 190px;
	float: left;
}

#divListRight {
	border: 0px solid blue;
	width: 190px;
	float: right;
}

#divListLeft ul li {
	clear: right;
}




/* RANDOM STYLES */
.food {
	clear: left;
	text-align: center;
}

.heart
{
  color: #ff0000;
  font-weight: bold;
  font-size: 16pt;
}

.img {
	float: right;
	margin-top: 4px;
	margin-right: 28px;
	border-radius: 25px;
}

.welcome {
	float: right;
	width: 194px;
	margin-top: 4px;
	margin-left: 18px;
	margin-right: 18px;
	text-align: justify;
	line-height: 1.6;
}

.schedule {
	width: 594px;
	float: left;
	margin-right: 28px;
	margin-left: 18px;
	margin-top: 18px;
}

.welcomemsg {
	text-align: center;
	font-weight: bold;
}

.pheader {
	display: block;
	text-align: center;
	font-weight: bold;
}

.linky {
	text-decoration: underline;
}

.boldy {
	font-weight: bold;
}

.italicy {
	font-style: italic; 
}

.spacey {
	margin-top: 2px;
	margin-bottom: 4px;
}

.names
{
  font-size: 16pt;
  font-weight: bold;
}

.footertext {
	display: inline-block;
	margin-top: 38px;
	border: 0px solid yellow;
	font-size: 7pt;
}

.regimg {
	clear: left;
	height: 39px;
	width: 124px;
	border: 1px solid #bbbbbb;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
	margin: 12px 52px 0px 52px;
	text-align: center;
}

.bbb {
	background-image: url('../images/bbb.png');
}

.bbb:hover{
	border-color: #000000;
}

.cab {
	background-image: url('../images/crateandbarrel1.png');
}

.cab:hover  {
	border-color: #000000;
}

.afill {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.nav {
	color: #bbbbbb;
}

.nav:hover {
	text-decoration: underline;
	cursor: pointer;
}

.sublink:hover {
	cursor: pointer;
	border-radius: 12px;
	background-color: #bbbbbb;
}

.selected {
	color: #000000;
}

.blurb {
	color: #aaa;
	font-style: italic;
}

.name {
	font-family: Papyrus, fantasy;
	font-weight: bold;
}

.contentsubname {
	font-size: 14pt;
	font-weight: bold;
}

.blank {
	float: left;
	width: 400px;
}