body
{
  background-image: url(../images/repeat1.png);
  background-repeat: repeat;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10pt;
}

#divContainer {
	width: 900px;
	min-height: 240px;
	border: 1px solid #000000;
	background-color: #ffffff;
	border-radius: 25px;
	margin: 12px auto 0 auto;
}

#divHeader {
	width: 900px;
	min-height: 80px;
	clear: both;
	border: 0px solid black;
	background-color: #ffffff;
	text-align: center;
	margin-top: 25px;
}

#divBody {
	width: 900px;
	min-height: 210px;
	border: 0px solid blue;
	background-color: #000;
}

#divLeftNav {
	width: 218px;
	min-height: 210px;
	float: left;
	border-right: 2px solid #000;
	background-color: #fff;
}

#divContent {
	width: 680px;
	min-height: 240px;
	float: left;
	border: 0px solid red;
	background-color: #fff;
	text-align: center;
}

#divFooter {
	width: 900px;
	min-height: 60px;
	clear: both;
	border: 0px solid red;
	background-color: #ffffff;
	text-align: center;
	vertical-align: bottom;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

ul {
	margin-right: 12px;
}

li {
	display: inline;
	float: right;
	text-align: right;
	margin: 4px;
}

li a {
	display: inline-block;
	width: 180px;
	font-size: 12pt;
}

/* Anchors */
a
{
  text-decoration: none;
  color: #000000;
}

/* RANDOM STYLES */
.heart
{
  color: #ff0000;
  font-weight: bold;
  font-size: 16pt;
}

.img {
	float: right;
	margin-top: 4px;
	margin-right: 14px;
	border-radius: 25px;
}

.welcome {
	float: right;
	width: 190px;
	margin-top: 4px;
	margin-left: 18px;
	margin-right: 18px;
	text-align: justify;
}

.welcomemsg {
	text-align: center;
	font-weight: bold;
}

.names
{
  font-size: 16pt;
  font-weight: bold;
}

.footertext {
	display: inline-block;
	margin-top: 38px;
	border: 0px solid yellow;
	font-size: 7pt;
}