body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* BEGIN COREY CODE */
body
{
  font-size: 12pt;
}

.bodybg
{
  background-image: url(../images/repeat1.png);
  background-repeat: repeat;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10pt;
}

#dPage
{
  border: 1px solid #dddddd;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffcc;
  background-image: url(../images/love-header.gif);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 110px;
  border-radius: 25px;
}

#dHeader
{
  border: 0px solid yellow;
  width: 100%;
  height: 80px;
  float: left;
  text-align: center;
  line-height: 150%;
  background-color: ffffcc;
  font-size: 12pt;
}

#dContent
{
  border: 0px solid blue;
  background-color: ffffff;
  width: 100%;
  min-height: 420px;
  clear: left;
}

#dLeftPane
{
  float: left;
  border: 0px solid black;
  background-color: #ffffcc;
  width: 200px;
  min-height: 400px;
  text-align: right;
  border-radius: 25px;
}

#dRightPane
{
  float: left;
  border: 0px solid purple;
  background-color: #ffffcc;
  width: 700px;
  min-height: 400px;
  text-align: center;
  border-radius: 25px;
}

#dContentRightPane
{
  margin: 0 auto;
  width: 500px;
}

.sideNav
{
  margin-top: 18px;
  margin-right: 14px;
  line-height: 160%;
  font-size: 12pt;
  border: 0px solid blue;
}

#imgRightPane
{
  margin: 12px;
  border-radius: 25px;
}


#dFooter
{
  clear: both;
  width: 100%;
  background-color: #ffff99;
  text-align: center;
  margin-top: 14px;
}

/* Anchors */
a
{
  text-decoration: none;
  color: #000000;
}

/* RANDOM STYLES */
.heart
{
  color: #ff0000;
  font-weight: bold;
  font-size: 16pt;
}

.names
{
  font-size: 16pt;
  font-weight: bold;
}

.regimg {
	height: 39px;
	width: 120px;
	border: 1px solid #bbbbbb;
	float: right;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
	margin-top: 14px;
}

.bbb {
	background-image: url('../images/bbb.png');
	margin-right: 116px;
}

.bbb:hover{
	border-color: #000000;
}

.cab {
	background-image: url('../images/crateandbarrel1.png');
	margin-right: 20px;
}

.cab:hover  {
	border-color: #000000;
}

.afill {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}



